h1{
    color:darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h3{
    color:darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    line-height: 25px;
}
a {
    color: #1E7EC8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    float: left;
}